.header__list.popup{
  align-items: center;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .7);
  flex-direction: column;
  padding: 0;

  padding-top: 20vh ;
  gap: 40px;
}
