.works__image{
  width: 300px;
  height: 400px;
  object-fit: cover;
  border: #FC4308 1px solid;
}

@media screen and (max-width: 1112px) {
  .works__image{
    width: 250px;
    height: 340px;
  }
}

@media screen and (max-width: 920px) {
  .works__image{
    width: 220px;
    height: 320px;
  }
}

@media screen and (max-width: 846px) {
  .works__image{
    width: 180px;
    height: 250px;
  }
}


@media screen and (max-width: 670px) {
  .works__image{
    width: 300px;
    height: 400px;
  }
}

@media screen and (max-width: 380px) {
  .works__image{
    width: 250px;
    height: 340px;
  }
}


