.footer__rights{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 10px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 820px) {

  .footer__rights{
    text-align: left;
    line-height: 20px;
  }}
