
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url(../vendor/normalize.css);
.page{
  color: #FC4308;
  font-family: 'Montserrat', sans-serif;
  background: radial-gradient(87.78% 110.36% at 83.44% 19.66%, #0D1E20 0%, #313E2A 69.51%, #262D20 96.87%);
}

.standart-size{
  max-width: 85vw;
  display: flex;
  margin: auto;
}

@media screen and (min-width: 1280px) {
  .standart-size{
    max-width: 1184px;
  }
}

.scrolling-element{
  opacity: 0;
  transition: .3s ease-in all;
}

.scrolling-element.visible{
  opacity: 1;
}

.header{
  width: 100%;
}

@media screen and (max-width: 821px){
  .header{
    padding-top: 20px;
  }
}

.header__container{
  flex-direction: row;
  justify-content: space-between;
}

.header__list{
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
  transition: all ease .3s;
}

@media screen and (max-width: 820px) {
  .header__list{
    display: none;
  }
}

.header__item{
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  text-align: center;
  margin: 0;
  cursor: pointer;
  color: #FC4308;
  text-decoration: none;
}

@media screen and (max-width: 821px) {
  .header__item{
    font-size: 32px;
  }
}

.header__item_contact{
  border: #FC4308 solid 1px;
  padding: 10px 12px;
}

.header__logo{
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__logo-image{
  width: 21px;
  height: 10px;
}

.header__logo-title{
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  text-align: center;
  margin: 0;
}


@import url(../blocks/description/description.css);
@import url(../blocks/description/__about/description__about.css);
@import url(../blocks/description/__image/description__image.css);
@import url(../blocks/description/__text/description__text.css);
@import url(../blocks/description/__title/description__title.css);
@import url(../blocks/works/works.css);
@import url(../blocks/works/__wrapper/works__wrapper.css);
@import url(../blocks/works/__cards/works__cards.css);
@import url(../blocks/works/__card/works__card.css);
@import url(../blocks/works/__image/works__image.css);
@import url(../blocks/works/__title/works__title.css);
@import url(../blocks/works/__about/works__about.css);
@import url(../blocks/works/__year/works__year.css);
@import url(../blocks/works/__model/works__model.css);
@import url(../blocks/works/__button/works__button.css);
@import url(../blocks/models/models.css);
@import url(../blocks/model/model.css);
@import url(../blocks/model/__text/model__text.css);
@import url(../blocks/model/__description/model__description.css);
@import url(../blocks/model/__image/model__image.css);
@import url(../blocks/model/__name/model__name.css);
@import url(../blocks/model/__date/model__date.css);
@import url(../blocks/model/_reversed/model_reversed.css);
@import url(../blocks/model/__button/model__button.css);
@import url(../blocks/button/button.css);
@import url(../blocks/contact/contact.css);
@import url(../blocks/contact/wrapper/contact__wrapper.css);
@import url(../blocks/contact/__button/contact__button.css);
@import url(../blocks/contact/__description/contact__description.css);
@import url(../blocks/contact/__title/contact__title.css);
@import url(../blocks/info/info.css);
@import url(../blocks/info/__wrapper/info__wrapper.css);
@import url(../blocks/info/__links/info__links.css);
@import url(../blocks/info/__media/info__media.css);
@import url(../blocks/info/__list/info__list.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__wrapper/footer__wrapper.css);
@import url(../blocks/footer/__rights/footer__rights.css);
@import url(../blocks/footer/__terms/footer__terms.css);
@import url(../blocks/footer/__term/footer__term.css);
@import url(./blocks/popup/popup.css);
@import url(../blocks/burger-menu/burger-menu.css);






































